.chatInput{
    border-radius: 20px;
}

.chatInput > form {
    display: flex;
    justify-content: space-evenly;
    
}
.chatInput > form > .formEmoji{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    padding: 0px 20px;
    margin-top: 15px;
    color: rgb(95, 93, 93);
}
.formEmoji  > .MuiSvgIcon-root {
    font-size: 30px;
    cursor: pointer;
}

.formInput{
    flex: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
}
.formInput > input {
    bottom: 0px;
    width:100%;
    border: 0px solid gray;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
}

.formInput > input:focus{
    outline-color:white;
}

.formButton{
    flex:0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    margin-top: 15px;
}
.formButton > Button > .MuiSvgIcon-root{
    font-size: 50px;
    color: #49274b;
    border-radius: 20px;
} 

.formEmoji > .EmojiPickerReact{
    top:-50vh;
}

