.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: white;
    background-color: var(--slack-color);
    width: 100%;
}

.header_left{
    flex: 0.3;
    display: flex;
    margin-left: 25px;
    align-items: center;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
}
.header_left > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 20px;
}
.header_search{
    flex:0.4;
    display: flex;
    text-align: center;
    background-color: rgb(95, 6, 122);
    padding: 0 50px;
    color:gray;
    border: 1px solid gray;
    border-radius: 6px;
}
.header_search > input{
    background-color: transparent;
    border: 0px solid;
    text-align: center;
    min-width: 35vw;
    color: white;
    
}

.header_search > input:focus{
    outline-color: rgb(95, 6, 122);
}
.header_right{
    flex:0.3;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}

.header_right > .avatar:hover{
    cursor: pointer;
}

.header_card{
    width: 250px;
    height: 500px;
    position: absolute;
    top:4%;
    right: 3%;
    color: black;
    z-index: 10;
    display: none;
}

.cardBody{
    margin-top: 35px;
    border : 0px solid green;
    height: 43%;
    background-color: rgb(242, 241, 241);
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    padding-top: 3px;
}

.cardSection{
    padding-top: 15px;
    text-align: center;
    border: 0px solid black;
    height: 30px;
    margin:5px;
    border-radius: 5px;
    font-size: 18px;
    color: grey;
}

.cardSection:hover{
    color: black;
    height: 30px;
    cursor: pointer;
    opacity: 0.9;
    background-color: rgb(222, 218, 218);
}
