.profileBody{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
}

.profileCard{
    padding:100px;
    border: 2px solid black;
    height: 100vh;
}

.profilePath{
    display: flex;
    border: 0px solid black;
    height: 50px;
    border-radius:15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
    background-color: white;
    padding-left: 30px;
    padding-top: 15px;
}

.profilePath > .MuiSvgIcon-root{
    color: var(--slack-color);
    margin-bottom: 20px;
}

.profilePath > a{
    text-decoration: none;
    outline: none;
    padding-top: 3px;
    color: black;
}
.profilePath > a:hover{
    cursor: pointer;
    text-decoration: underline;
    color:red;
}
.profileDetails{
    display: flex;
    margin-top:20px;
}

.profileDetailsLeft{
    border: 0px solid black;
    width: 30vw;
    height: 65vh;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 90px;
}
.profileDetailsLeft > img{
    border-radius: 300px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}
.profileDetailsRight{
    margin-left : 20px;
    border: 0px solid black;
    width: 70vw;
    height: 65vh;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;
}

.details{
    position: absolute;
    left:50%;
    margin: 10px;
    width: 32vw;
    height: 50vh;
    border: 0px solid grey;
}
.details > div{
    margin: 10px;
}
.username > div > input{
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: rgb(234, 229, 229);
    padding: 7px;
    padding-left: 10px;
    outline: none;
}

.email > input {
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: rgb(234, 229, 229);
    padding: 7px;
    padding-left: 10px;
    margin-left:35px;
    outline: none;
}

.ppassWord > div > input{
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: rgb(234, 229, 229);
    padding: 7px;
    margin-left: 15px;
    padding-left: 10px;
    outline: none;
}

.ppassWord > div > input::placeholder{
    padding-left: 10px;
}

.ppassWord > div > button{
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    left:85%;
    margin-top: 8px;
}

.ppassWord > div > button > .MuiSvgIcon-root{
    color: rgb(88, 87, 87);
    cursor: pointer;
}




.image > input{
    padding-left: 40px;
}

.image > input::file-selector-button{
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.image > button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-right: 30px;
}

.image > button > .MuiSvgIcon-root{
    color: rgb(51, 92, 241);
}
.details > button{
    margin: 10px;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

