.sidebar{
    color: white;
    background-color: var(--slack-color);
    border-top: 1px solid #49274b;
    width: 201px;
    padding-right: 15px;
    transition: width 0.9s ease-in-out;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.toggle{
    color: white;
    background-color: var(--slack-color);
    border: none;
    cursor: pointer;
}

.toggle:hover{
    opacity: 0.9 ;
    background-color: #340e36;
}

.sidebar_header{
    display: flex;
    border-top: 1px solid #49274b;
    padding: 13px;
    border-bottom: 1px solid #49274b;
}

.sidebar_header > .MuiSvgIcon-root{
    margin-left:50px ;
    padding: 8px;
    font-size: 18px;
    color: #49274b;
    background-color: white;
    border-radius: 999px;
}

.sidebar_info{
    flex:1;
}

.sidebar_info > h2{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar_info > h3{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar_info > h3 >.MuiSvgIcon-root{
    color: green;
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
}

.sidebar > hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b;
}

.sidebar > .addChannel{
    flex:0.8;
    width: 201px;
    overflow: auto;
    float: left;
    position: relative;
    margin-left: 5px; 
}

.addChannel::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.addChannel::-webkit-scrollbar-track {
    background-color:transparent /* Color of the scrollbar track */
}

.addChannel::-webkit-scrollbar-thumb {
    background-color: #b64ff5; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

.addChannel::-webkit-scrollbar-thumb:hover {
    background-color: #a123ef; /* Color of the scrollbar thumb on hover */
}